@import url("https://rsms.me/inter/inter.css");

:root {
    color-scheme: light dark;
    --grey-100: light-dark(#f3f4f6, #111827);
    --grey-200: light-dark(#e5e7eb, #1f2937);
    --grey-300: light-dark(#d1d5db, #374151);
    --grey-400: light-dark(#9ca3af, #4b5563);
    --grey-500: light-dark(#6b7280, #9ca3af);
    --grey-600: light-dark(#4b5563, #9ca3af);
    --grey-700: light-dark(#374151, #d1d5db);
    --grey-800: light-dark(#1f2937, #e5e7eb);
    --grey-900: light-dark(#111827, #f3f4f6);
    --green-200: light-dark(#bbf7d0, #166534);
    --green-700: light-dark(#15803d, #bbf7d0);
    --orange-200: light-dark(#fed7aa, #b45309);
    --orange-700: light-dark(#b45309, #fed7aa);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", Inter, Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 1rem;
    background-color: var(--grey-100);
    color: var(--grey-900);
    .container {
        max-width: 900px;
        margin-inline: auto;
        header {
            h1 {
                font-size: 3.5rem;
            }
            text-align: center;
            
        }

    
        .carriers {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 1rem;
            margin-bottom: 2rem;
            margin-top: 0.5rem;
            .carrier {
                background: var(--grey-200);
                border: 1px solid var(--grey-400);
                border-radius: 0.5rem;
                padding: 0.5rem;
                display: flex;
                flex-direction: column;
                .header {
                    display: flex;
                    justify-content: space-between;
                    .emoji {
                        line-height: 1.2;
                    }
                }
                .aka {
                    color: var(--grey-500);
                    font-size: 0.9rem;
                    font-weight: bold;
                }
                .id {
                    color: var(--grey-500);
                    font-size: 0.8rem;
                }
                &:not([data-supports="0"]) {
                    border-color: transparent;
                    background-image: 
                        radial-gradient(circle at top right, var(--orange-200) 0%, var(--grey-200) 100%),
                        radial-gradient(circle at top right, #b45309 0%, var(--grey-400) 100%);
                    background-origin: border-box;
                    background-clip: padding-box, border-box;
                    &[data-supports="2"] {
                        background-image: 
                            radial-gradient(circle at top right, var(--green-200) 0%, var(--grey-200) 100%),
                            radial-gradient(circle at top right, #166534 0%, var(--grey-400) 100%);
                    }
                }
            }
        }
    }
}    

h1,h2,h3,p {
    margin: 0;
}
.grow {
    flex-grow: 1;
}